<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container">
  <img id="logo" src="../../assets/logo4.png" alt="Site logo">
  <h1 id="title">MusiQ</h1>
</div>
<div id="text" class="container text-center">
<p>Embark on a new musical and visual adventure. Be curious about you, on another level and find out which movie matches your
   Spotify's top songs!
  Simply just click the button below, log in with your Spotify account and let the app do the rest. Now you surely will have
  something new to watch tonight, based on your excellent musical taste!
  Don't be afraid, just dive in! Sit back and relax as we unravel your perfect movie!
</p>
</div>
<div class="content">
  <button class="btn btn-lg btn-success" (click)="goToLoginPage()">Login with Spotify</button>
</div>





